img {
  height:400px;
  float: left;
  margin: 100px;
}

p {
    color: #000;
    text-align: center;
}

.productinfo {
  margin: 50px;
  width: 500px;
  border: 1px solid #ccc;
  float: left;
  text-align: center;
}