.product-container {
  width: 400px;
  background-color: #fff;
  padding: 30px;
}

.product-box {
  padding-bottom: 20px;
  width: 100%;
}
input {
  padding: 0px 20px;
  width: 300px;
  height: 40px;
  font-size: 22px;
}
button {
  padding: 0px 20px;
  width: 300px;
  height: 40px;
  font-size: 22px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height:200px;
}
.img {
  margin-right: 1;
  float: right;
}

.product-overview {
  margin: 100px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.product-info {
  margin: 20px;
  width: 70%;
  align-self: left;
  text-align:left;
}
.product-title {
  text-align: left;
}
.product-description {
  text-align: left;
  color: #000;
  float:right;
}
.product-price {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}
.product-order {
  width: 0%;
  border: 1px solid #ccc;
}

#orderBtn {
font-size: 15px;
}

  #product-spec ul {
    list-style-type: circle;
    margin: 20px;
    padding: 4px;
    background-color: #fff;
    color: black;
    text-align: left;
}

  #product-spec li {
    float: none;
    color: black;
}

  #product-spec li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.addToCard-form{
  align-content: left;
}

h3 {
  text-align: left;
  margin-top: 75px;
  margin-left: 20px;
}

.addToCart-prodPage {
  width: 20%;
}
